div.headline{
  font-weight: bold;
  margin-bottom: 10px;
}

.selectedProject{
  font-weight: bold;
}


p-scrollPanel {
  div {
    background-color: aliceblue;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

  }
}

