p-scrollPanel {

  div {
    margin-bottom: 10px;
    p {
      padding-left: 10px;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }

  }
}

.ui-scrollpanel{
  border: 1px solid #c8c8c8 !important;
  border-radius: 3px;
}
