p-scrollPanel {

  i{
    cursor: pointer;
  }

  div {
    background-color: aliceblue;
    margin-bottom: 10px;
    p {
      padding-left: 10px;
      cursor: pointer;

      &:hover{
        text-decoration: underline;
      }
    }

  }
}

.selectedProject{
  font-weight: bold;
}
