<div class="content">
  <mat-form-field floatLabel="always" class="filter">
    <textarea matInput placeholder="Filter" rows="17" style="white-space: nowrap;" [(ngModel)]="filterValue"></textarea>
  </mat-form-field>

  <button mat-stroked-button (click)="runFilter()" class="button">Filtern</button>
  <mat-spinner class="spinner" *ngIf="filterIsRunning" [diameter]="30"></mat-spinner>
  <button mat-stroked-button (click)="resetFilter()" class="reset">Reset</button>

  <button class="info" mat-icon-button  #filterOverlayButtonRef (click)="openFilterOverlay(filterOverlayButtonRef._elementRef)">
    <mat-icon> info</mat-icon>
  </button>


</div>
