<div mat-dialog-title>Daten Export</div>

<div mat-dialog-content>
  <div class="formGrid">
    <mat-form-field class="projectObj">
      <mat-select [(ngModel)]="selectedProject" placeholder="Projekt" (selectionChange)="onSelectProject();generateFilters();">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{project.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="datasetObj">
      <mat-label>Datasets</mat-label>
      <mat-select [(ngModel)]="selectedDatasets" multiple (selectionChange)="generateFilters()">
        <mat-option *ngFor="let dataset of datasets" [value]="dataset" >{{dataset.name}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="targetProjectObj">
      <mat-select [(ngModel)]="targetProject" placeholder="Ziel Projekt" (selectionChange)="generateFilters()">
        <mat-option *ngFor="let project of projects" [value]="project">
          {{project.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="targetDatasetObj">
      <input matInput placeholder="Ziel Dataset" [(ngModel)]="targetDataset" (change)="generateFilters()">
    </mat-form-field>

    <mat-tab-group class="modeTabs" dynamicHeight>
      <mat-tab label="Einfach">
        <div class="simpleTabGrid">

          <section class="origImgObj">
            <mat-checkbox [(ngModel)]="simpleCopyOrigImage" (change)="generateFilters()">Original Bild als Hintergrund
            </mat-checkbox>
          </section>

          <input matInput [disabled]="simpleCopyOrigImage" [(ngModel)]="simpleCustomBackgroundColor" class="colorObj"
                 (change)="generateFilters()"
                 placeholder="Hintergrundfarbe" type="color"/>

          <section class="copyLayerObj">
            <mat-checkbox [(ngModel)]="simpleCopyLayersToNewImage" (change)="generateFilters()">Layer-Punkte in das neue
              Bild kopieren
            </mat-checkbox>
          </section>

          <section class="keepLayerSettingsObj">
            <mat-checkbox [(ngModel)]="simpleKeepLayerSettings" (change)="generateFilters()">Original Layer settings
              verwenden
            </mat-checkbox>
          </section>

          <div class="layerListObj">
            <div *ngFor="let layer of simpleLayerSettings;let even = even" class="layerGrid">

              <section class="selectLayer">
                <mat-checkbox [(ngModel)]="layer.selected" (change)="generateFilters()"></mat-checkbox>
              </section>

              <mat-label class="layerLabel">Layer {{layer.layer.id}}</mat-label>

              <input matInput [disabled]="simpleKeepLayerSettings" [(ngModel)]="layer.layer.color"
                     (change)="generateFilters()"
                     class="layerColorInput"
                     placeholder="Farbe" type="color"/>

              <mat-form-field class="widthInput">
                <input matInput [(ngModel)]="layer.layer.size" placeholder="Dicke" (change)="generateFilters()"
                       type="number" min="1"/>
              </mat-form-field>

              <mat-form-field class="layerIdInput">
                <input matInput placeholder="ID" [(ngModel)]="layer.layer.id" (change)="generateFilters()">
              </mat-form-field>

            </div>

          </div>
        </div>
      </mat-tab>


      <mat-tab label="Experte">
        <mat-form-field floatLabel="always" style=" width: 100%">
          <textarea matInput placeholder="Filter" rows="21" style="white-space: nowrap;"
                    [(ngModel)]="complexFilters"></textarea>
        </mat-form-field>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>

<div mat-dialog-actions>
  <div class="btnContainer">
    <button mat-stroked-button class="addBtn" (click)="addLayer()" [disabled]="exportIsRunning">Add Layer</button>
    <button mat-stroked-button class="removeBtn" (click)="removeLayer()" [disabled]="exportIsRunning">Remove Layer
    </button>
    <mat-spinner class="spinner" *ngIf="exportIsRunning" [diameter]="20"></mat-spinner>
    <mat-progress-bar mode="determinate" [value]="percentRun" class="progressBar"></mat-progress-bar>
    <button mat-stroked-button class="exportBtn" (click)="export()" [disabled]="exportIsRunning">Export</button>
    <button mat-stroked-button class="closeBtn" (click)="close()" [disabled]="exportIsRunning">Close</button>
  </div>
</div>


<!--<p-dialog header="Title" [(visible)]="showDialog" [style]="{width: '700px'}" [contentStyle]="{'overflow':'visible'}"-->
<!--          modal="true">-->
<!--  <p-fieldset legend="Allgemein">-->
<!--    <table>-->
<!--      <tr>-->
<!--        <td style="width: 150px">Projekt</td>-->
<!--        <td>-->
<!--          <p-dropdown [options]="projects" [(ngModel)]="project" optionLabel="id"></p-dropdown>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Dataset</td>-->
<!--        <td>-->
<!--          <p-dropdown [options]="datasets" [(ngModel)]="dataset" optionLabel="name"></p-dropdown>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Neues Datenset</td>-->
<!--        <td><input type="text" pInputText [(ngModel)]="name"></td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </p-fieldset>-->
<!--  <p-fieldset legend="Bilder">-->
<!--    <table style="width: 100%">-->
<!--      <tr style="width: 150px">-->
<!--        <td>Originalbild kopieren</td>-->
<!--        <td>-->
<!--          <p-checkbox [(ngModel)]="backgroundImage"></p-checkbox>-->
<!--        </td>-->
<!--        <td>Hintergrund Farbe</td>-->
<!--        <td>-->
<!--          <p-colorPicker [(ngModel)]="background" [disabled]="backgroundImage"></p-colorPicker>-->
<!--        </td>-->
<!--      </tr>-->
<!--      <tr>-->
<!--        <td>Layer Einstellungen übernehmen</td>-->
<!--        <td>-->
<!--          <p-checkbox [(ngModel)]="layerSettings"></p-checkbox>-->
<!--        </td>-->
<!--        <td>Layer kopieren</td>-->
<!--        <td>-->
<!--          <p-checkbox [(ngModel)]="copyLayers"></p-checkbox>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--    <table style="width: 100%; margin-top: 10px">-->
<!--      <tr>-->
<!--        <td colspan="8">Layers: <i class="pi pi-plus" style="font-size: 0.8em" (click)="addLayer()"></i></td>-->
<!--      </tr>-->
<!--      <tr *ngFor="let layer of layers;let even = even">-->
<!--        <td [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          Layer {{layer.layer.id}}-->
<!--        </td>-->
<!--        <td style="width: 100px" [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          Zeichnen-->
<!--        </td>-->
<!--        <td [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          <p-checkbox [(ngModel)]="layer.selected" [disabled]="layerSettings" ></p-checkbox>-->
<!--        </td>-->
<!--        <td style="width: 100px" [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          Farbe-->
<!--        </td>-->
<!--        <td [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          <p-colorPicker [(ngModel)]="layer.layer.color" [disabled]="layerSettings"></p-colorPicker>-->
<!--        </td>-->
<!--        <td style="width: 100px" [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          Dicke-->
<!--        </td>-->
<!--        <td [ngClass]="(even)? 'oddBackGround' : ''">-->
<!--          <p-spinner [(ngModel)]="layer.layer.size" [min]="1" size="1" [disabled]="layerSettings"></p-spinner>-->
<!--        </td>-->
<!--      </tr>-->
<!--    </table>-->
<!--  </p-fieldset>-->

<!--  <table>-->
<!--    <tr>-->
<!--      <td>-->
<!--        <p-button label="Erstellen" (click)="create()"></p-button>-->
<!--      </td>-->
<!--      <td>-->
<!--        <p-button label="Abbrechen" (click)="abort()"></p-button>-->
<!--      </td>-->
<!--    </tr>-->
<!--  </table>-->

<!--</p-dialog>-->

<!--<p-dialog header="Bearbeite" [(visible)]="showProgressDialog" modal="true">-->
<!--  <div>-->
<!--    <p-progressSpinner></p-progressSpinner>-->
<!--  </div>-->
<!--  <div>-->
<!--    Erledigt {{currentProgress}} von {{todoProgress}}-->
<!--  </div>-->
<!--</p-dialog>-->
