.formGrid {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: fit-content(200px) auto;
  grid-template-rows: fit-content(40px) fit-content(40px) fit-content(500px);

  .projectObj {
    grid-column: 1;
    grid-row: 1;
  }

  .datasetObj {
    grid-column: 2;
    grid-row: 1;
    width: 300px;
  }

  .targetProjectObj {
    grid-column: 1;
    grid-row: 3;
  }

  .targetDatasetObj {
    grid-column: 2;
    grid-row: 3;
    width: 300px;
  }

  .modeTabs {
    grid-column: 1/3;
    grid-row: 4;
  }

  .simpleTabGrid{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: fit-content(200px) auto;
    grid-template-rows: fit-content(30px) fit-content(30px) fit-content(500px);

    .origImgObj{
      align-self: center;
    }

    .colorObj{
      width: 100px;
      grid-row: 1/3;
      grid-column: 2;
      margin-left: 20px;
    }

    .copyLayerObj{
    }

    .keepLayerSettingsObj{
      grid-row: 3;
    }
  }
}


.oddBackGround {
  background-color: aliceblue;
}

.btnContainer {
  width: 100%;
  display: grid;
  grid-column-gap: 15px;
  grid-template-columns: auto fit-content(200px) fit-content(200px) fit-content(200px);
  grid-template-rows: auto;

  .spinner {
    grid-column: 2;
    align-self: center;
    justify-self: right;
  }

  .importBtn {
    grid-column: 3;
    justify-self: right;
    width: 100px;
  }

  .closeBtn {
    grid-column: 4;
    justify-self: right;
    width: 100px;
  }
}
