<div class="paintControl" *ngIf="renderComponent">

  <div class="modus">
    Modus:
    <mat-button-toggle-group #group="matButtonToggleGroup" class="modusBtn" [(ngModel)]="displaySettings.drawMode"
                             (change)="onDisplaySettingsChanged($event)">
      <mat-button-toggle value="1">
        Linie
      </mat-button-toggle>
      <mat-button-toggle value="0">
        Punkt
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <mat-checkbox [(ngModel)]="displaySettings.displayLayer" (change)="onDisplaySettingsChanged($event)" class="hideLine">Layer anzeigen</mat-checkbox>

  <div class="copyLayer">
    <button mat-icon-button class="addButton" (click)="copyLayersFromClipboardToImage($event)" title="Layer aus Zwischenablage der in Bild kopieren" [disabled]="!isLayerClipboardEmpty()">
      <mat-icon>layers_icon</mat-icon>
    </button>
    <button mat-icon-button class="removeButton" (click)="copyLayersToClipboard($event)" title="Layer in die Zwischenablage kopieren">
      <mat-icon>file_copy_icon</mat-icon>
    </button>
  </div>

  <div class="labelSelectText">
    Label:
  </div>
  <div class="labelSelect">
    <mat-form-field class="settingElement">
      <mat-select [(ngModel)]="currentLayer" (ngModelChange)="onLayerChange($event)">
        <mat-option *ngFor="let layer of image.getLayers()" [value]="layer">
          {{layer.id}} - {{layer.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button class="addButton" (click)="onAddLayer($event)" title="Layer hinzufügen">
      <mat-icon>playlist_add</mat-icon>
    </button>
    <button mat-icon-button class="removeButton" (click)="onRemoveLayer($event)" title="Layer löschen">
      <mat-icon>delete sweep icon</mat-icon>
    </button>
  </div>

  <div class="layerID">
    ID:
    <mat-form-field class="idInput">
      <input matInput [(ngModel)]="currentLayer.id" (ngModelChange)="onChange($event)">
    </mat-form-field>
  </div>


  <div class="name">
    Name:
    <mat-form-field class="nameInput">
      <input matInput [(ngModel)]="currentLayer.name" (ngModelChange)="onChange($event)">
    </mat-form-field>
  </div>

  <div class="labelSettingsText">
    Einstellung:
  </div>
  <div class="labelSettings">
    <mat-form-field class="settingElement">
      <input matInput [(ngModel)]="currentLayer.color" placeholder="Farbe" (change)="onChange($event)"
             type="color"/>
    </mat-form-field>

    <mat-form-field class="settingElement">
      <input matInput [(ngModel)]="currentLayer.size" placeholder="Dicke" (change)="onChange($event)"
             type="number" min="1"
             id="myNumber"/>
    </mat-form-field>
  </div>

  <div class="layerType">
    Typ:
    <mat-form-field class="settingElement" style="margin-left: 5px">
      <mat-select [(ngModel)]="currentLayer.type" (ngModelChange)="onChange($event)">
        <mat-option *ngFor="let layerType of layerTypes | enumToArrayPipe" [value]="layerType.index">
          {{layerType.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="sublinesText">
    Teillinien
  </div>
  <mat-form-field floatLabel="always" class="sublines">
    <mat-label>Linien</mat-label>
    <span *ngFor="let x of currentLayer.lines; let idx = index">
                       <a style="text-decoration: underline" href="#"
                          (mouseenter)='onHighlightLine(idx,true)'
                          (mouseleave)="onHighlightLine(idx,false)"
                          (click)="onSelectSubLine($event, idx)">[{{x.length}}]</a>
                     </span>
    <input matInput style="display: none"/>
  </mat-form-field>
  <label class="sublinesHelp">
    (Linksklick+strg: <b>löschen</b>)
  </label>

  <div class="eraserText">
    Radierer
  </div>
  <mat-form-field class="eraser">
    <input matInput [(ngModel)]="displaySettings.eraserSize" placeholder="Größe" (change)="onDisplaySettingsChanged($event)"
           type="number" min="1"
    />
  </mat-form-field>
  <label class="eraserHelp">
    <span style="white-space: nowrap; float: right">(Rechtsklick: <b>verschieben</b>)</span><br>
    <span style="white-space: nowrap">(Rechtsklick+strg: <b>löschen</b>)</span>
  </label>

</div>

<div class="selectImage" *ngIf="!renderComponent">
  Bild auswählen..
</div>
