<div class="caseList">
  <div class="headline">Projekte</div>
  <cdk-virtual-scroll-viewport itemSize="30" class="caseScroll">
    <div *cdkVirtualFor="let pD of projectData">
      <div class="projectDiv">
        <div class="box">
          {{pD.id}}
        </div>
      </div>

      <ul>
        <li *ngFor="let dataset of pD.datasets" (click)="onSelectDataset($event,dataset)" class="clickAble"
            [ngClass]="selectedDataset === dataset ? 'selectedElement' : ''">
          {{dataset.name}}
        </li>
      </ul>
      <mat-divider></mat-divider>
    </div>
  </cdk-virtual-scroll-viewport>
</div>
