<div class="caseList">
  <div class="headline">Projekte</div>
  <cdk-virtual-scroll-viewport itemSize="30" class="caseScroll">
    <div *cdkVirtualFor="let pD of projectData">
      <div class="projectDiv">
        <div class="box" (contextmenu)="openContextMenu($event,pD)">
          {{pD.name}}
        </div>
      </div>
      <div>
        <ul>
          <li *ngFor="let dataset of pD.datasets" (click)="onSelectDataset($event,dataset)" class="clickAble"
              [ngClass]="selectedDataset === dataset ? 'selectedElement' : ''" (contextmenu)="openContextMenu($event,dataset)">
            <label>{{dataset.name}}</label>
          </li>
        </ul>
      </div>
      <mat-divider></mat-divider>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<ng-template #projectOverlayMenu let-data>
  <section class="project-menu">
    <div (click)="delete(data)">{{data.type == "p" ? "Projekt löschen" : "Datensatz löschen"}}</div>
    <div>{{data.type == "p" ? "Projekt umbennen" : "Datensatz umbennen"}}</div>
    <div (click)="copyToClip(data)">Copy ID to Clipboard</div>
  </section>
</ng-template>
