
.bodyDiv {
  display: grid;
  grid-template-columns: fit-content(300px) fit-content(300px) fit-content(100%);
  grid-template-rows: auto;
  grid-column-gap: 5px;

  .caseLise{
    grid-column: 1;
    grid-row: 1;
  }

  .imageList{
    grid-column: 2;
    grid-row: 1;
  }

  .canvasDraw{
    grid-column: 3;
    grid-row: 1;
  }

  .menuBtn {
    grid-column: 3;
    grid-row: 1;
    width: 100px;
    height: 35px;
    justify-self: right;
    margin-top: 20px;
  }
}
