<div class="bodyDiv">
  <app-case-list #caseListComponent [imageListComponent]="imageListComponent" class="caseLise"></app-case-list>
  <app-image-list #imageListComponent class="imageList"></app-image-list>
  <app-work-view class="canvasDraw"></app-work-view>
  <button mat-stroked-button [matMenuTriggerFor]="menu" class="menuBtn">Menu</button>
</div>

<div class="menuBar">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openImportDialog()">Import</button>
    <button mat-menu-item (click)="openExportDialog(caseListComponent.selectedProjectId)">Export</button>
  </mat-menu>
</div>

