<!--The content below is only a placeholder and can be replaced.-->

<div class="bodyDiv">
  <app-case-list #caseListComponent [imageListComponent]="imageListComponent" class="caseLise"></app-case-list>
  <app-image-list #imageListComponent [drawCanvasComponent]="drawCanvasComponent" class="imageList"></app-image-list>
  <app-draw-canvas #drawCanvasComponent [imageListComponent]="imageListComponent" class="canvasDraw"></app-draw-canvas>
  <button mat-stroked-button [matMenuTriggerFor]="menu" class="menuBtn">Menu</button>
</div>

<div class="menuBar">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="openImportDialog()">Import</button>
    <button mat-menu-item (click)="openExportDialog(caseListComponent.selectedProjectId)">Export</button>
    <button mat-menu-item (click)="test()">Test</button>
  </mat-menu>
</div>
