<div class="content">
  <div class="headline">
    Bild {{parentImage !== undefined ? parentImage.name : ""}} {{activeImage !== undefined && activeImage !== parentImage ? " - Aktives Bild " + activeImage.name : ""}}
  </div>
  <div class="drawContent">

    <div class="workView">

      <div class="drawCanvas">
        <app-draw-canvas></app-draw-canvas>
      </div>

      <div [ngSwitch]="contentSaveStatus" class="saveDisplay">
        <mat-icon class="notSaved" *ngSwitchCase="0" title="Speichere...">save icon</mat-icon>
        <mat-icon class="saved" *ngSwitchCase="1" title="Gespeichert">save icon</mat-icon>
        <mat-icon class="saveFailed" *ngSwitchDefault title="Fehler beim Speichern">save icon</mat-icon>
      </div>

      <div class="canvasControl">

        <div class="drawMode" *ngIf="renderComponent">
          Zeichnen:
          <mat-slide-toggle [(ngModel)]="displaySettings.enableDrawing" (change)="changeDrawMode()" class="drawMode"
                            [disabled]="displaySettings.enableDrawingSliderDisabled"></mat-slide-toggle>
        </div>

        <div class="contrastText" *ngIf="renderComponent">
          Kontrast:
        </div>
        <div class="contrast"  *ngIf="renderComponent">
          <mat-slider min="0" max="3" step="0.1" value="1" [(ngModel)]="contrast" (change)="onContrastChange($event)"
                      style="width: 60px"></mat-slider>
        </div>

        <span class="mouse" *ngIf="renderComponent">
          Maus: X {{mousePositionInCanvas.x}} Y {{mousePositionInCanvas.y}}
        </span>

        <span class="colorFiled" *ngIf="renderComponent &&  renderColor">
          Farbe: RGB {{mousePositionInCanvas.color[0]}} {{mousePositionInCanvas.color[1]}} {{mousePositionInCanvas.color[2]}}
        </span>


        <span class="imageSize" *ngIf="renderComponent">
          Bildgröße: {{activeImage.getWidth()}}x{{activeImage.getHeight()}} px (WxH)
        </span>

        <span class="flickerTime" *ngIf="renderComponent">
          <mat-slider min="0" max="1000" step="50" value="500" style="width: 60px" [(ngModel)]="displaySettings.flickerTimer" (ngModelChange)="onFlickerChange($event)"></mat-slider>
        </span>

        <button mat-icon-button class="flicker-btn {{flickerActive() ? 'flickerActive' : ''}}" (click)="flicker()" title="Flicker" *ngIf="renderComponent">
          <mat-icon>broken_image</mat-icon>
        </button>


        <span class="zoom" *ngIf="renderComponent">
          Zoom {{currentZoomLevel}} %
        </span>

        <button mat-icon-button class="resetBtn" (click)="resetCanvasZoom()" title="Bild zurücksetzten" *ngIf="renderComponent">
          <mat-icon>control_camera</mat-icon>
        </button>
      </div>

      <div class="drawControl">
        <mat-tab-group class="tabs">
          <mat-tab label="Filter">
            <app-draw-control></app-draw-control>
          </mat-tab>
          <mat-tab label="Ausgabe">

          </mat-tab>
        </mat-tab-group>
      </div>

      <div class="filterControl">
        <app-filter-control></app-filter-control>
      </div>
    </div>

    <div class="filterImageList">
      <app-sub-image-list></app-sub-image-list>
    </div>
  </div>
</div>
