@import "../../../../styles";

.content {
  height: 90vh;
  display: grid;
  grid-template-columns: 90% 10%;
  grid-column-gap: 10px;

  .workView {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: fit-content(650px) 30px auto;
    grid-row-gap: 5px;
    grid-column-gap: 5px;
    grid-template-areas: "canvasContainer canvasContainer" "canvasControl canvasControl" "drawControl filterControl";
    min-width: 1300px;

    .drawCanvas {
      border: 1px solid LightGray;
      border-radius: 3px;
      grid-area: canvasContainer;
    }

    .canvasControl {
      border: 1px solid LightGray;
      border-radius: 3px;

      grid-area: canvasControl;
      display: grid;
      grid-template-columns: auto 10% 10% 10% 10%;
      grid-template-areas: ". contrast mouse zoom resetBtn";

      .mouse {
        justify-self: right;
        align-self: center;
      }

      .zoom {
        justify-self: right;
        grid-area: zoom;
        align-self: center;
        white-space: nowrap;
      }

      .resetBtn {
        grid-area: resetBtn;
        justify-self: center;
        align-self: center;

        &:hover {
          cursor: pointer;
          color: $dark-focused;
        }
      }
    }

    .drawControl{
      grid-area: drawControl;
      border: 1px solid LightGray;
      border-radius: 3px;
    }

    .filterControl{
      grid-area: filterControl;
      border: 1px solid LightGray;
      border-radius: 3px;
      border-radius: 3px;
      border-spacing: 0px;
      padding: 3px;
    }
  }

  .filterImageList {
    border: 1px solid LightGray;
    border-radius: 3px;
    width: 200px;
    padding-top: 5px;
  }
}

