<div class="imageList">
  <div class="headline">Dataset {{dataset.name}}</div>

  <button class="addImgGroup" mat-icon-button (click)="createImageGroup()" *ngIf="datasetSelected">
    <mat-icon>queue icon</mat-icon>
  </button>

  <cdk-virtual-scroll-viewport itemSize="1" class="imageScroll" cdkDropListGroup>
    <div *ngFor="let img of dataset.images" class="listContainer">
      <div *ngIf="img.images != undefined" cdkDropList (cdkDropListDropped)="drop($event, img)" [cdkDropListData]="img"
           (contextmenu)="onContextMenu($event)"
           style="background-color: green">{{img.name}}

        <div *ngFor="let subimg of img.images" (click)="onSelectImage($event, subimg.id)"
             cdkDrag style="margin-left: 10px;"
             class="clickAble"
             (contextmenu)="onContextMenu($event)"
             [cdkDragData]="subimg"
             [ngClass]="selectedImageId === subimg.id ? 'selectedElement' : ''">{{subimg.name}}</div>
      </div>

    </div>
    <div cdkDropList (cdkDropListDropped)="drop($event,dataset)" [cdkDropListData]="dataset">
      <div *ngFor="let img of dataset.images" class="listContainer">
        <div *ngIf="img.images == undefined" (click)="onSelectImage($event, img.id)"
             cdkDrag
             (contextmenu)="onContextMenu($event)"
             [cdkDragData]="img"
             class="clickAble"
             [ngClass]="selectedImageId === img.id ? 'selectedElement' : ''">
          {{img.name}}
        </div>
      </div>
    </div>
  </cdk-virtual-scroll-viewport>
</div>

<div style="visibility: hidden; position: fixed"
     [style.left]="contextMenuPosition.x"
     [style.top]="contextMenuPosition.y"
     [matMenuTriggerFor]="contextMenu">
</div>
<mat-menu #contextMenu="matMenu">
  <ng-template matMenuContent let-item="item">
    <button mat-menu-item>Umbennen</button>
    <button mat-menu-item>Löschen</button>
  </ng-template>
</mat-menu>
