.imageList {
  height: 90vh;
  width: 200px;
  border: 1px solid LightGray;
  border-radius: 3px;

  ul {
    padding-left: 20px;
    list-style-type: none;
    li {
      list-style-image: none;
    }
  }

  .clickAble{
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .selectedElement{
    font-weight: bold;
  }
}


