.content {
  height: 90vh;

  canvas {
    border: 1px solid LightGray;
    border-radius: 3px;
  }

  .optionContainer {
    .settings {
      float: left;
      width: 49%;
      border: 1px solid LightGray;
      border-radius: 3px;
      height: 400px;
      padding-left: 2px;

      table.input {
        width: 99%;
        flex-grow: 1;

        tr {
          td:nth-child(1) {
            width: 70px;
          }

          td:nth-child(2) {
            width: 100px;
          }

          td:nth-child(3) {
            width: 70px;
          }

          td:nth-child(4) {
            width: 70px;
          }

          td:nth-child(5) {
            width: auto;
          }
        }
      }
    }

    .filter {
      height: 400px;
      width: 50%;
      float: right;
      border: 1px solid LightGray;
      border-radius: 3px;
      padding-left: 2px;

      .inputText {
        width: 70%;
      }
    }
  }

}
