<h4>Bild {{image !== undefined ? image.name : ""}}</h4>
<div class="content">
  <canvas #canvas height="700" width="1300"
          (mouseenter)="onEvent($event)"
          (mouseleave)="onEvent($event)"
          (blur)="onEvent($event)"
          (contextmenu)="onEvent($event)"></canvas>

  <div class="canvasInfo">
    <span class="zoom">
      Zoom {{currentZoomRounded}} %
    </span>
    <i class="material-icons resetBtn" (click)="canvasResetZoom()" title="Bild zurücksetzten">
      control_camera
    </i>
  </div>

  <div class="settings" *ngIf="renderContext">
    <div class="modeGroup">
      <mat-label class="modeLabel">
        Modus
      </mat-label>

      <mat-button-toggle-group #group="matButtonToggleGroup" class="modeBtn" [(value)]="pointMode">
        <mat-button-toggle value="false">
          Linie
        </mat-button-toggle>
        <mat-button-toggle value="true">
          Punkt
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <div class="hideLinesGroup">
      <mat-checkbox [(ngModel)]="hideLines" (change)="canvasRedraw()">Linien verstecken</mat-checkbox>
    </div>

    <mat-form-field>
      <mat-select [(ngModel)]="currentLayer" placeholder="Label">
        <mat-option *ngFor="let layer of image.layers" [value]="layer">
          {{layer.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="primary" class="addButton" (click)="addLayer($event)">
      <mat-icon>playlist_add</mat-icon>
    </button>

    <mat-form-field>
      <input matInput [(ngModel)]="currentLayer.color" placeholder="Farbe" (change)="canvasRedraw()"
             type="color"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="currentLayer.size" placeholder="Dicke"
             type="number" min="1"
             id="myNumber"/>
    </mat-form-field>


    <mat-form-field floatLabel="always" class="lines">
      <mat-label>Linien</mat-label>
      <span *ngFor="let x of currentLayer.lines; let idx = index">
                       <a style="text-decoration: underline" href="#"
                          (mouseenter)='highLightLine(idx)'
                          (mouseleave)="canvasRedraw()"
                          (click)="selectLine($event, idx)">[{{x.length}}]</a>
                     </span>
      <input matInput style="display: none"/>
    </mat-form-field>

    <mat-form-field class="labelName">
      <input matInput [(ngModel)]="currentLayer.id" placeholder="Label ID" (change)="canvasRedraw()"/>
    </mat-form-field>


    <mat-form-field class="rubber">
      <input matInput [(ngModel)]="rightClickCircleSize" placeholder="Radierer"
             type="number" min="1"
      />
    </mat-form-field>
    <label class="deleteLabel">(strg: löschen)</label>
  </div>
  <div class="filter" *ngIf="renderContext">
    <app-filter-list [cImage]="image" (filterOutput)="onFilterCompleted($event)"></app-filter-list>
  </div>
</div>

<img [src]="img"/>
<button mat-icon-button color="primary" class="addButton" (click)="test()">
  <mat-icon>playlist_add</mat-icon>
</button>
