<h4>Bild {{image !== undefined ? image.name : ""}}</h4>
<div class="content">
  <canvas #canvas
          (mouseenter)="onEvent($event)"
          (mouseleave)="onEvent($event)"
          (blur)="onEvent($event)"
          (keydown)="onMouseMove($event)"
          (contextmenu)="onEvent($event)"></canvas>
  <div class="settings" *ngIf="renderContext">

    <mat-form-field>
      <mat-select [(ngModel)]="currentLayer" placeholder="Label">
        <mat-option *ngFor="let layer of image.layers" [value]="layer">
          {{layer.id}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-icon-button color="primary" class="addButton" (click)="addLayer($event)">
      <mat-icon>playlist_add</mat-icon>
    </button>

    <mat-form-field>
      <input matInput [(ngModel)]="currentLayer.color" placeholder="Farbe" (change)="redrawUI()"
             type="color"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="currentLayer.size" placeholder="Dicke"
             type="number" min="1"
             id="myNumber"/>
    </mat-form-field>


    <mat-form-field floatLabel="always" class="lines">
      <mat-label>Linien</mat-label>
      <span *ngFor="let x of currentLayer.lines; let idx = index">
                       <a style="text-decoration: underline" href="#"
                          (mouseenter)='highLightLine(idx)'
                          (mouseleave)="redrawUI()"
                          (click)="selectPoints(idx)">[{{x.length}}]</a>
                     </span>
      <input matInput style="display: none"/>
    </mat-form-field>

    <mat-form-field>
      <input matInput [(ngModel)]="rightClickCircleSize" placeholder="Radierer"
             type="number" min="1"
      />
    </mat-form-field>
    <label class="deleteLabel">(strg: löschen)</label>
  </div>
  <div class="filter" *ngIf="renderContext">
    <app-filter-list [cImage]="image" (filterOutput)="onFilterCompleted($event)"></app-filter-list>
  </div>
</div>
