@import "../../../styles.scss";

.content {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: fit-content(650px) 30px auto;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas: "canvas canvas" ". canvasinfo" "settings filter";
  min-width: 1300px;

  canvas {
    border: 1px solid LightGray;
    border-radius: 3px;
    grid-area: canvas;
  }

  .canvasInfo{
    grid-area: canvasinfo;
    display: grid;
    grid-template-columns: auto 10% 10% 10%;
    width: 100%;
    grid-template-areas: ". mouse zoom resetBtn";

    .mouse{
      justify-self: right;
      align-self: center;
    }

    .zoom{
      justify-self: right;
      grid-area: zoom;
      align-self: center;
      white-space: nowrap;
    }

    .resetBtn{
      grid-area: resetBtn;
      justify-self: center;
      align-self: center;
      &:hover{
        cursor: pointer;
        color: $dark-focused;
      }
    }
  }


  .settings {
    border: 1px solid LightGray;
    border-radius: 3px;
    border-spacing: 0px;
    padding: 5px;
    grid-area: settings;

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: fit-content(50px) fit-content(50px) fit-content(50px) fit-content(50px) auto;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    .modeGroup{
      justify-self: left;
      grid-column:1  / 3;

      .modeBtn{
        margin-left: 10px;
      }
    }

    .hideLinesGroup{
      justify-self: left;
      grid-column:3  / 5;
    }

    .addButton {
      align-self: center;
    }

    .lines {
      grid-column: 1/3;
      width: 99%;
    }

    .labelName {
      grid-column: 3/4;
      width: 99%;
    }

    .rubber{
      grid-row: 4;
    }


    .deleteLabel {
      grid-row: 4;
      align-self: center;
    }
  }

  .filter {
    padding: 5px;
    border: 1px solid LightGray;
    border-radius: 3px;
    border-spacing: 0px;
    grid-area: filter;
  }
}
