.content {
  height: 90vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 400px;
  grid-row-gap: 5px;
  grid-column-gap: 5px;
  grid-template-areas: "canvas canvas" "settings filter";
  min-width: 1300px;

  canvas {
    border: 1px solid LightGray;
    border-radius: 3px;
    grid-area: canvas;
  }


  .settings {
    border: 1px solid LightGray;
    border-radius: 3px;
    border-spacing: 0px;
    padding: 5px;
    grid-area: settings;

    display: grid;
    grid-template-columns: 150px 150px 150px 150px;
    grid-template-rows: 50px 50px 50px;
    grid-row-gap: 10px;
    grid-column-gap: 10px;

    .addButton {
      align-self: center;
    }

    .lines {
      grid-column: 1/5;
      width: 99%;
    }

    .deleteLabel {
      align-self: center;
    }
  }

  .filter {
    padding: 5px;
    border: 1px solid LightGray;
    border-radius: 3px;
    border-spacing: 0px;
    grid-area: filter;
  }
}
