.imageList {
  height: 100%;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: fit-content(160px) auto;
  grid-template-rows: 35px auto;
  grid-template-areas: "h b" "c c";

  .headline {
    padding-top: 5px;
    height: 30px;
    font-family: Roboto, Helvetica Neue Light, Helvetica Neue, Helvetica, Arial, Lucida Grande, sans-serif;
    font-size: 20px;
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    grid-area: h;
  }

  .addImgGroup {
    grid-area: b;
    justify-self: right;
    align-self: center;

    mat-icon {
      font-size: 20px;
    }
  }

  .imageScroll {
    border: 1px solid LightGray;
    border-radius: 3px;
    width: 100%;
    grid-area: c;

    .listContainer {
      padding: 5px 5px 0 15px;

      .subImage{
        padding-left: 10px;
      }

      .holderGrid{
        display: grid;
        grid-template-columns: fit-content(1px) auto;
        grid-template-rows: auto;

        .list-icons{
          height: auto;
          font-size: 15px;
          align-self: center;
        }
      }
    }

    .clickAble {
      &:hover {
        font-weight: bold;
        cursor: pointer;
      }
    }

    .selectedElement {
      font-weight: bold;
    }
  }
}

