.content {
  display: grid;
  grid-template-columns: 20% auto 10% 10%;
  grid-template-rows: auto auto;
  grid-template-areas: "filter filter filter filter" "button spinner reset info";
  height: 100%;

  .filter {
    width: 100%;
    grid-area: filter;
  }

  .button {
    grid-area: button;
    width: 100px;
  }

  .spinner {
    grid-area: spinner;
    align-self: center;
    margin-left: 10px;
  }

  .reset {
    grid-area: reset;
  }

  .info {
    grid-area: info;
    align-self: center;
    justify-self: center;
  }
}

