.content {
  display: grid;
  grid-template-columns: 100px 100px 100px auto 200px 100px;
  grid-template-rows: auto 50px;
  grid-template-areas: "filterlist filterlist filterlist filterlist filterlist filterlist" "button save spinner . filterSelect reset";
  height: 99%;

  .filter {
    width: 100%;
    grid-area: filterlist;
  }

  .start {
    grid-area: button;
    width: 90px;
    height: 40px;
    align-self: center;
  }

  .save {
    grid-area: save;
    width: 90px;
    height: 40px;
    align-self: center;
  }

  .spinner {
    grid-area: spinner;
    align-self: center;
    margin-left: 10px;
  }

  .filterSelect {
    grid-area: filterSelect;
    height: 40px;
  }

  .reset {
    width: 90px;
    height: 40px;
    align-self: center;
    grid-area: reset;
  }
}

