.caseList {
  height: 90vh;
  width: 200px;
  border: 1px solid LightGray;
  border-radius: 3px;

  .projectDiv {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;

    .icon-box {
      height: 14px;
      margin: -3px 0px 0px 0px;

      .mat-icon {
        transform: scale(0.5);
      }
    }
  }

  ul {
    padding-left: 20px;
    list-style-type: none;
    li {
      list-style-image: none;
    }
  }

  .box {
    float: left;
  }

  .clickAble{
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .selectedElement{
    font-weight: bold;
  }
}


