<h4>Projekte</h4>
<cdk-virtual-scroll-viewport itemSize="30" class="caseList">
  <div *cdkVirtualFor="let pD of projectData">
    <div class="projectDiv">
      <div class="box">
        {{pD.id}}
      </div>
      <div class="box icon-box">
        <mat-icon class="mat-icon" svgIcon="redo" class="clickAble" (click)="openDialog(pD.id)"></mat-icon>
      </div>
    </div>

    <ul>
      <li *ngFor="let dataset of pD.datasets" (click)="onSelectDataset($event,dataset.id)" class="clickAble"
          [ngClass]="selectedProjectId === dataset.id ? 'selectedElement' : ''">
        {{dataset.name}}
      </li>
    </ul>
    <mat-divider></mat-divider>
  </div>
</cdk-virtual-scroll-viewport>
